<div class="orderWrapper">
  <div class="productsList">
    <div class="product" *ngFor="let product of shoppingCart">
      <p><b>Dieta: </b> {{ product.title }}</p>
      <p><b>Kaloryczność:</b> {{ product.calories }} Kcal</p>
      <p><b>Cena:</b> {{ product.price }} PLN</p>
    </div>
  </div>

  <div class="orderingWrapper">
    <div class="ordering">
      <p><b>Suma Zamówienia:</b> {{ totalPrice }} PLN</p>
      <input
        type="text"
        name="promocode"
        placeholder="kod rabatowy"
        [(ngModel)]="promo"
      />
      <button (click)="checkPromoCode()" type="submit">Dodaj kod</button>
      <button (click)="order()">Złóż zamówienie</button>
    </div>
  </div>
</div>
