.shoppingCartWrapper {
  background-color: white;
  width: 22em;
  padding: 1.5em;
  position: absolute;
  top: 14;
  right: 14;
  border-radius: 1em 2em 1em 1em;
  z-index: 1;
  font-size: 0.8rem;
  border: 0.5px solid black;
}

.checkoutButton {
  margin: 1em;
  position: absolute;
  top: 0;
  right: 0;
  border: 0.2em solid black;
  padding: 0.5em;
  border-radius: 50%;
  z-index: 2;
}

.orderInfo {
  padding-top: 1.5em;
  flex-direction: row;
}

.itemsCount {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 14;
  right: 14;
  z-index: 3;
}
