<h1>Lista dostępnych cateringów</h1>
<input class="filter" type="text" [(ngModel)]="searchText" placeholder="Wyszukaj catering"/>
<button style="margin-bottom: 2em;" (click)="randomRecipe()">Wylosuj przepis</button>
<!-- <p>{{ recip.title }}</p> -->
<div class="offersWrapper">
  <div class="offer" *ngFor="let offer of offers | searchFilter: searchText">
    <img class="offerImage" src="{{ offer.photoUrl }}" alt="photo" />
    <div class="offerInfo">
      <h1>
        <a [title]="'Dieta ' + offer.title + ' details'">
          {{ offer.title }}
        </a>
      </h1>
      <div class="buttons">
        <add-to-shopping-cart  [offer]="offer" *ngIf="actualLogedUser !== undefined"></add-to-shopping-cart>
        <button (click)="showDetails(offer)">Szczegóły</button>
      </div>
    </div>
  </div>
</div>
