.offersWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-bottom: 3em;
}

.offer {
  width: 20em;
  height: 25em;
  border-radius: 1em;
  box-shadow: 0 0 0.8em 0.15em;
  position: relative;
  overflow: hidden;
  display: flex;
}

.offerInfo {
  width: 20em;
  position: absolute;
  bottom: 10;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offerImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: 0.75s;
}

.offer:hover > .offerImage {
  top: 100;
  left: 100;
  transform: scale(1.7);
  opacity: 0.65;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  padding: 1em;
  margin-bottom: 3em;
  border-radius: 1em;
  border: 0.5px solid black;
}
