body {
  margin: 0;
}
* {
 font-family: "Roboto", Arial, sans-serif;
}
app-offer-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  cursor: pointer;
  text-decoration: none;
}

button{
  padding: 0.7em;
  margin: 0.5em;
  background-color: rgb(117, 173, 246);
  border: 0;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  background-color: rgb(180, 213, 255);
}

.formWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.7em;
  border: 1px solid gray;
}
.form p{
  color: red;
}
.form #delete {
  background-color: red;
}

