<div class="formWrapper">
  <h1>Zarejestruj się</h1>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <input
        formControlName="email"
        type="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Adres E-mail"
        />
        <p *ngIf="registerForm.controls['email'].hasError('required')">Brak wartości email</p>
        <p *ngIf="registerForm.controls['email'].hasError('email')">Nieprawidłowy email</p>
        <input
        formControlName="password"
        type="password"
        id="exampleInputPassword1"
        placeholder="Hasło"
        />
        <p *ngIf="registerForm.controls['password'].hasError('required')">Brak wartości hasło</p>
        <input
        formControlName="city"
        type="text"
        id="city"
        placeholder="Miasto"
        />
        <p *ngIf="registerForm.controls['city'].hasError('required')">Brak wartości miasto</p>
        <input
        formControlName="street"
        type="text"
        id="street"
        placeholder="Ulica"
        />
        <p *ngIf="registerForm.controls['street'].hasError('required')">Brak wartości ulica</p>
        <input
        formControlName="houseNumber"
        type="number"
        id="houseNumber"
        placeholder="Numer domu"
        />
        <p *ngIf="registerForm.controls['houseNumber'].hasError('required')">Brak numeru domu</p>
        <input
        name="postCodeInput"
        formControlName="postCode"
        type="text"
        id="postCode"
        placeholder="Kod-Pocztowy"
        />
        <p *ngIf="registerForm.controls['postCode'].hasError('invalid')">Nieprawidłowy kod pocztowy</p>
      <button appButtonDisplay [condition]="!registerForm.valid" type="submit">Register</button>
    </form>

</div>
